{% extends 'base.html.twig' %}

{% block title %}Gestion des Notes{% endblock %}

{% block body %}

<script>
    function navigateTo(url) {
        window.location.href = url;
    }
    function editMode(button) {
    document.getElementById('id').value = button.dataset.id;
    document.getElementById('student_id').value = button.dataset.student;
    document.getElementById('course_id').value = button.dataset.course;
    document.getElementById('grade').value = button.dataset.grade;

    const submitBtn = document.querySelector('.btn-action');
    submitBtn.value = 'edit';
    submitBtn.textContent = 'Mettre à jour la note';
    submitBtn.name = "action";
    }
</script>

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Gestion Scolaire</a>
        </div>
        <ul class="nav-links">
            <li><button class="btn" onclick="navigateTo('students')"><i class="fas fa-users"></i> Élèves</button></li>
            <li><button class="btn" onclick="navigateTo('courses')"><i class="fas fa-chalkboard-teacher"></i> Cours</button></li>
            <li><button class="btn" onclick="navigateTo('modules')"><i class="fas fa-cogs"></i> Modules</button></li>
            <li><button class="btn" onclick="navigateTo('/notes')"><i class="fas fa-graduation-cap"></i> Notes</button></li>
        </ul>
    </nav>
</header>

<main>
    <section class="dashboard-overview">
        <div class="dashboard-card">
            <h3>Gestion des Notes</h3>
            <p>Ajoutez, modifiez ou supprimez les notes des étudiants pour chaque cours.</p>
        </div>
    </section>

    
    <section class="student-form">
        <div class="table-container">
            <h4>Ajouter ou Modifier une Note</h4>
            <form method="post" style="display:grid;">
                <label for="student_matricule">Matricule de l'élève:</label>
                <select id="student_id" name="etud_id" required>
                {% for student in students %}
                    <option value={{student.id}}>{{student.nom}} {{student.prenom}}</option>
                {% endfor %}
                </select>

                <label for="course_name">Nom du cours:</label>
                <select id="course_id" name="cours" required>
                {% for course in courses %}
                    <option value={{course.id}}>{{course.nom}}</option>
                {% endfor %}
                </select>
                <label for="grade">Note:</label>
                <input type="number" id="grade" name="grade" placeholder="Entrez la note" min="0" max="100" required>
                <input type="text" id="id" name="id" hidden>
                <button type="submit" class="btn-action"><i class="fas fa-save"></i> Enregistrer la Note</button>
            </form>
        </div>
    </section>

    
    <section class="student-list">
        <div class="table-container">
            <h4>Liste des Notes</h4>
            <table>
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Cours</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    <tr>
                        <td>{{ studentMap[grade.id].nom }} {{studentMap[grade.id].prenom}}</td>
                        <td>{{ courseMap[grade.id].nom }}</td>
                        <td>{{ grade.note }}</td>
                        <td>
                            <button class="btn-edit"
                            onclick="editMode(this)"
                            data-student="{{ studentMap[grade.id].id }}"
                            data-course="{{ courseMap[grade.id].id }}"
                            data-grade="{{ grade.note }}"
                            data-id="{{ grade.id }}"><i class="fas fa-edit"></i></button>
                            <form method="POST">
                                <input hidden name="id" value={{grade.id}}>
                                <button class="btn-delete" name="action" value="delete"><i class="fas fa-trash-alt"></i></button>
                            </form>                        
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Système de Gestion Scolaire | Tous droits réservés</p>
</footer>

{% endblock %}
